* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section-wrapper {
  display: flex;
  margin-top: 50px;
  background-color: #0a22f4;
  justify-content: space-around;
}

.contact {
  max-width: 463px;
  margin-top: 275px;
  color: white;
}

label,
p {
  font-size: 16px;
  color: white;
}

form {
  max-width: 463px;
  margin: 100px auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
