* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

.section-wrapper {
  display: flex;
  margin-top: 50px;
  background-color: #0a22f4;
  justify-content: space-around;
}

.contact {
  max-width: 463px;
  margin-top: 100px;
  color: white;
}

label,
p {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}

form {
  max-width: 463px;
  margin: 100px auto;
}

.input-wrapper {
  width: 463px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

input,
textarea {
  background-color: #0a22f4;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(177, 166, 166, 0.5);
}

textarea {
  padding-top: 100px;
  resize: none;
}

button {
  width: 151px;
  height: 55px;
  margin-top: 40px;
  color: #171717;
  margin-left: 312px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* contact */
iframe {
  width: 463px;
  height: 197px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 58px;
}

.box {
  width: 1000px;
}

.box,
.logo1,
.logo2 {
  display: flex;
  align-items: center;
}

.phone,
.email {
  width: 70px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.box {
  margin-top: 60px;
}

h1 {
  padding-bottom: 30px;
}

.logo2 {
  margin-left: 98px;
}
